.container {
  width: 600px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}
#start-prompt {
  text-align: center;
}

#timer {
  position: fixed;
  padding: 10px;
  top: 0;
  right: 0;
}

.hide {
  display: none;
}
